* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
}

.left-section {
    background-color: #f9fafb;
    padding: 3rem;
    max-height: 100vh;
}

.form-control {
    border-radius: 0.25rem;
}

.forgotPassword-image {
    max-height: 100vh;
    width: 100%;
}

.back-link:hover {
    text-decoration: underline !important;
}

#resetBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the spinner */
    display: none; /* Initially hidden */
}

.resetLoader {
    width: 25px;
    height: 25px;
}

/* Show spinner and hide text when loading */
#resetBtn.loading {
    color: transparent; /* Hide button text when loading */
}

/* Display spinner when loading */
#resetBtn.loading .spinner {
    display: block;
}


/* Responsive adjustments */
@media (max-width: 1030px) {
    .left-section {
        padding: 1.2rem;
    }
}

