body {
    font-family: Arial, sans-serif;
    color: #333;
}

.nav-link.active {
    font-weight: bold;
}


.hero-section {
    background: url('/images/pexels-fauxels-3183150.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    position: relative;
    text-align: center;
    padding: 100px 20px;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-child {
    position: relative;
    width: 590px;
    z-index: 2;
    color: white;
    padding: 20px;
}

.hero-content h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.features-section, .cta-section {
    padding: 60px 20px;
}
.features-section h2, .cta-section h2 {
    margin-bottom: 30px;
}

.feature-card {
    border: none;
    text-align: center;
    padding: 20px;
}
.feature-card img {
    width:60px;
    align-self: center;
    margin-bottom: 15px;
}

.community-impact {
    background-color: cornsilk; /* Light gray */
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

@media (max-width: 605px) {
    .hero-child {
        width: 100%
    }
}
